.container {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 20px;
  cursor: pointer;
}

.symbol {
  font-size: 30px;
  font-weight: bold;
}

.name {
  font-size: 20px;
}
