.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 320px;
  min-height: 320px;
}

.header {
  flex: 0 0 auto;
}

.mainContent {
  flex: 1 0 auto;
  width: 960px;
  max-width: 100%;
  align-self: center;
}

.footer {
  flex: 0 0 auto;
}
