@use "../../../../styles/colors";
@use "../../../../styles/vars" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: colors.$light-text;
  background-color: colors.$dark-accent;
}

.title {
  padding: $std-padding;
  font-size: 28px;
}

.menu {
  height: 100%;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: $std-padding;
  font-size: 16px;
}
