@use "../../../_shared/styles/vars" as *;
@use "../../../_shared/styles/colors";

.container {
  padding: $std-padding;
}

.input {
  $height: 40px;

  display: block;
  width: 100%;
  height: $height;
  padding: $std-padding;
  border: none;
  border-radius: $height / 2;
  box-shadow: $std-box-shadow;
  background-color: colors.$dark-background;
  transition: background-color $std-anim-length, box-shadow $std-anim-length,
    transform $std-anim-length;

  &:focus-visible {
    box-shadow: $heavy-box-shadow;
    background-color: colors.$light-background;
    transform: scale(1.005);
    outline: none;
  }
}
